/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); */
body {
    padding: 10%;
    font-size: 2rem;
    color: #000;
    font-family: 'Roboto', courier, Helvetica, sans-serif;
}

/* input, button {
    font: inherit;
} */

p {
    text-indent: 2em;
    line-height: 2em;
    letter-spacing: 0.1em;
    word-spacing: normal;
    font-weight: 700;
    font-style: oblique;
}